$primary: #102E5A;
$primary-text: #F3F2F3;
$secondary: #6D9FB5;
$secondary-text: #FFF;//#102E5A;
$border-color: #6D9FB5;
$error: red;
$error-text: #FFF;
$disabled: rgb(218, 218, 218);
$disabled-text: rgb(187, 186, 186);
$background: #fff;
$font-color: #102E5A;