@import '_reset.scss';
@import '_color.scss';

body, html {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: $font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 10px;
}