//reset box-size
//https://css-tricks.com/box-sizing/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

ul { padding:  0; margin: 0; }
li { list-style: none; }
:focus { outline: none; }
a { text-decoration: none; outline: none; }
a img { border: 0; }

// iOS shadow removed
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
}

// avoid zoom in iOS mobile device when entering input
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input,
    label,
    button {
        font-size: 16px;
        -webkit-tap-highlight-color: rgba(0,0,0,0); //remove tap highlight color
    }
}